nandini/Using Xsd/SchoolDetails.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="fname"/>
                          <xs:element type="xs:string" name="lname"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DOB">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:date" name="date"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="address">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="place"/>
                          <xs:element type="xs:string" name="city"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="teacher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="subject" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="standard" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
