mounikaM/xml-school/using xml schema/schools.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
	<xs:element name="schools">
		<xs:complexType>	
			<xs:sequence>
				<xs:element name="classes" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="student" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="fname" type="xs:string"/>
													<xs:element name="lname" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="dob" type="xs:string"/>
										<xs:element name="address" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="id" type="xs:int"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="teacher">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name_t" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="subject" type="xs:string" maxOccurs="unbounded">	
							</xs:element>					
						</xs:sequence>
						<xs:attribute name="standard" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name_s" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
